<h1>Editing hardware</h1>

<%= form_for(@hardware) do |f| %>
  <% if @hardware.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hardware.errors.count, "error") %> prohibited this hardware from being saved:</h2>

      <ul>
      <% @hardware.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :asset_tag %><br>
    <%= f.text_field :asset_tag %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :mdl, 'Model' %><br>
    <%= f.text_field :mdl %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br>
    <%= f.date_select :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :warranty_end_date %><br>
    <%= f.date_select :warranty_end_date %>
  </div>
  <div class="field">
    <%= f.label :eol %><br>
    <%= f.date_select :eol %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select :location_id, @locations %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @hardware %> |
<%= link_to 'Back', hardwares_path %>
