<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @hardware.name %>
</p>
<p>
    <strong>Status:</strong>
    <%=  @hardware.status.humanize  %>
</p>
<p>
    <strong>Type:</strong>
    <%= @hardware.hardware_category.name %>
</p>
<p>
    <strong>Location:</strong>
    <%= @hardware.location.name %>
</p>

<p>
    <strong>Asset tag:</strong>
    <%= @hardware.asset_tag %>
</p>

<p>
    <strong>Serial number:</strong>
    <%= @hardware.serial_number %>
</p>
<p>
    <strong>Manufacturer:</strong>
    <%= @hardware.manufacturer.name %>
</p>

<p>
    <strong>Model:</strong>
    <%= @hardware.mdl %>
</p>

<p>
    <strong>Description:</strong>
    <%= @hardware.description %>
</p>

<p>
    <strong>Note:</strong>
    <%= @hardware.note %>
</p>

<p>
    <strong>Supplier:</strong>
    <%= @hardware.supplier.name %>
</p>

<p>
    <strong>Cost:</strong>
    <%= @hardware.cost %>
</p>

<p>
    <strong>Purchase date:</strong>
    <%= @hardware.purchase_date %>
</p>

<p>
    <strong>Warranty end date:</strong>
    <%= @hardware.warranty_end_date %>
</p>

<p>
    <strong>Eol:</strong>
    <%= @hardware.eol %>
</p>

<%= link_to 'Edit', edit_hardware_path(@hardware) %>
|
<%= link_to 'Back', hardwares_path %>
